<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>CC Project 2 - Skills/Products Exchange</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

	<div class="container">

        <div class="starter-template">
            <h1>CC Project 2 - Skills/Products Exchange </h1> 
            <h2>1. Visit <a th:href="@{/login}">User Login </a></h2>
            <h2>2. <a th:href="@{/register}">Register Yourself</a></h2>
            <h2>3. Visit <a th:href="@{/about}">About page</a></h2>
        </div>
        <div>
            <img src="/images/exchange.jpg" width="400" height="300" />
        </div>
    </div>

</div>
</body>
</html>