<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script>
        $(document).ready(function() {
            $(document).on("click", ".addMessage", function(e) {
                $("#addMessageAlert").show();
                var alert = $('<input type="hidden" id="toUserName">');
                $(alert).attr( 'value', 'user1');
                $('.modal-footer').append(alert); 
            });


            $("#cancelSubmitMessage").click(function() {
                $("#addMessageAlert").hide();	
            });
    
        });
    </script>
</head>
<body>
<div layout:fragment="content" th:remove="tag">


<div class="container">
    <div>
        <h3>Requests:</h3>
    </div>
    <div class="divScroll">
        <table>
            <tr th:each="req: ${reqList}">
                <td>Request from 
                [[${req.userOne}]]</td>
                <td><a th:href="@{'/prodSkillListOfUser?user=' + ${req.userOne} }"><button>View Profile</button></a></td>
            </tr>
        </table>
    </div>

    <div>
        <h3>Connected Users:</h3>
    </div>
    <div class="divScroll">
        <table>
            <tr th:each="acpt: ${acptList}">
                <td>Connection with  
                [[${acpt.userOne}]]</td>
                <td><a th:href="@{'/prodSkillListOfUser?user=' + ${acpt.userOne}}"><button>View Profile</button></a></td>
                <td><a th:href="@{'/messageUser?user=' + ${acpt.userOne}}"><button>Message</button></a></td>
            </tr>
        </table>
    </div>
</div>

<!-- <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
       Modal content
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send new message</h4>
        </div>
        <form name="sendMessageForm" id="sendMessageForm">
						<div class="modal-body">
							<div class="form-group">
								<table>
									<tr>
										<td><label for="title" class="col-form-label">Title:</label>
										</td>
										<td><input type="text" class="form-control"
											id="titleMsg" name="titleMsg" /></td>
									</tr>
								</table>
							</div>
							<div class="form-group">
								<table>
									<tr>
										<td><label for="name" class="col-form-label">Message:</label>
										</td>
										<td><textarea id="description" name="description" class="form-control"></textarea></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button id="cancelSubmitMessage" type="reset" class="btn light">Cancel</button>
							<button type="submit" id="submitMessage" class="btn btn-primary">Submit</button>
						</div>
					</form>
        
      </div>
      
    </div>
  </div>
  
<div id="addMessageAlert" class="modal" tabindex="-1" role="dialog" style="overflow-y: scroll;">
			<div class="modal-dialog" role="document" th:draggable="true">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Send new message</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form name="sendMessageForm" id="sendMessageForm">
						<div class="modal-body">
							<div class="form-group">
								<table>
									<tr>
										<td><label for="title" class="col-form-label">Title:</label>
										</td>
										<td><input type="text" class="form-control"
											id="titleMsg" name="titleMsg" /></td>
									</tr>
								</table>
							</div>
							<div class="form-group">
								<table>
									<tr>
										<td><label for="name" class="col-form-label">Message:</label>
										</td>
										<td><textarea id="description" name="description" class="form-control"></textarea></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="modal-footer">
							<button id="cancelSubmitMessage" type="reset" class="btn light">Cancel</button>
							<button type="submit" id="submitMessage" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div> -->

<!-- /.container -->
</div> <br><br><br><br>
 <a href="/skillProdList">View List...</a> 
</body>
</html>