<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" th:remove="tag">


<div class="container">

    <div class="starter-template">
        <table>
            <tr>
                <td>Request from</td>
                <td>user1</td>
                <td><a href="prodSkillListUser.html"><button>View Profile</button></a></td>
            </tr>
        </table>


    </div>

</div>
<!-- /.container -->
</div> <br><br><br><br>
 <a href="prodSkillList.html">View List...</a> 
</body>
</html>