<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
 <head>
<style>
.divScroll {
overflow:scroll;
height:300px;
width:400px;
}
</style>

</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <div class="divScroll">
        <table>
            <tr>
                <th>Item Image</th>
                <th>Name</th>
                <th>Category</th>
                <th>Owner</th>
                <th>Request</th>
            </tr>
            <tr>
            <td><img src="/images/fan.jpg" width="100" height="100"></td>
             <td>Table Fan</td>
             <td>Product</td>
             <td>user2</td>
             <td>
                <form th:action="@{/sendRequest}" th:object="${sendRequestForm}"
                    method="post" enctype="multipart/form-data"> 
                    <input type="hidden" name="userTwo" id="userTwo" value="user2">                    
                    <input class="submitReq2" id="submit" type="submit" tabindex="5"
						value="Request">
                </form> 
            </td>

            </tr>
            <tr>
			<td><img src="/images/swim.jpg" width="100" height="100"></td>
             <td>Swimming</td>
             <td>Skill</td>
             <td>user2</td>
             <td><button>Request</button></td>
            </tr>
            <tr>
			<td><img src="/images/fan.jpg" width="100" height="100"></td>
             <td>Table Fan</td>
             <td>Product</td>
             <td>user3</td>
             <td><button>Request</button></td>
            </tr>
            <tr>
			<td><img src="/images/cook.jpg" width="100" height="100"></td>
             <td>Cooking</td>
             <td>Skill</td>
             <td>user2</td>
             <td><button>Request</button></td>
            </tr>
            <tr>
			<td><img src="/images/headset.jpg" width="100" height="100"></td>
             <td>Headset</td>
             <td>Product</td>
             <td>user2</td>
             <td><button>Request</button></td>
            </tr>
            <tr>
			<td><img src="/images/paint.jpg" width="100" height="100"></td>
             <td>painting</td>
             <td>Skill</td>
             <td>user3</td>
             <td><button>Request</button></td>
            </tr>
            <tr>
			<td><img src="/images/iwatch.jpg" width="100" height="100"></td>
             <td>iWatch</td>
             <td>Product</td>
             <td>user1</td>
             <td><button>Request</button></td>
            </tr>

        </table>

</div>

    </div>


</body>
</html>